*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Config files
config.py

# OSX files
.DS_Store

# vi swap and temp files
*.swp
*.swo
*~

# ignoring redis files
dump.rdb

# webdis log
webdis.log

# IDE resources
# IntelliJ/PyCharm
.idea
