include README.md
include COPYING.txt
include logo.png
include redbiom/assets/nltk_data/corpora/stopwords/README
include redbiom/assets/nltk_data/corpora/stopwords/english

graft redbiom
graft licenses

global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude *.so
global-exclude .*.swp
